{% extends "base.html" %}
{% block content %}
{% for message in conversation %}
<div class="message {% if message[0] == 'user' %}user-message{% else %}chatbot-message{% endif %}">
    <div class="message-text"><pre id="message-text">{{ message[1] }}</pre></div>
</div>
{% endfor %}
<div class="message-text" id="streaming-chatbot"></div>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    var messageElements = document.querySelectorAll('.message-text');
    for (var i = 0; i < messageElements.length; i++) {
        messageElements[i].innerHTML = marked.parse(messageElements[i].textContent.trim());
    }
</script>