{% extends "index.html" %}
{% block content %}
    {% for message in conversation %}
        {% if message[0] == 'user' %}
        <div class="message user-message">
            <div class="message-text">
                🧑:
                <pre id="message-text">{{ message[1] }}</pre>
            </div>
        </div>
        {% else %}
        <div class="message chatbot-message">
            <div class="message-text">
                🤖:
                <pre id="message-text">{{ message[1] }}</pre>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}

<script src="../static/marked.min.js"></script>
<script>
    var messageElements = document.querySelectorAll('.message-text');
    for (var i = 0; i < messageElements.length; i++) {
        messageElements[i].innerHTML = marked.parse(messageElements[i].textContent.trim());
    }
</script>